ul {
  list-style: none;
  padding: 0;
  width: 30%;
  margin: auto;
}

li {
  font-size: 1.3rem;
  line-height: 2rem;
  border-bottom: 1px dotted #777;
}

.getproject-btn {
  background: #388e3c;
  color: white;
}

.projects {
  background: #F8F8F8;
  border: 1px solid #D66436;
  width: 75%;
  margin: 5vh auto;
  padding-bottom: 2vh;
}

.left {
  width: 50%;
  float: left;
}

.right {
  width: 50%;
  float: right;
}

.projects-content h4 {
  color: #D66436;
}

.label {
  display: inline;
  margin-right: 5%;
}

.options {
  margin-right: 40%;
  text-align: right;
}

.show_project {
  margin: 5vh auto;
}

.show_project p {
  color: #ED8230;
}


.close {
  margin-top: 3vh;
  clear: both;
  background: #e53935;
  color: white;
}
