.hero {
  min-height: 500px;
  text-align: center;
  background: #555;
  background-image: url('/img/code.jpg');
  background-size: cover;
}

.hero-content {
  color: #fff;
  padding-top: 130px;
  line-height: 1;
}

.hero-title {
  margin: 0;
  font-size: 2em;
}

.hero-content p {
  font-size: 1.5em;
  margin-bottom: 60px;
}

.hero-content a {
  color: #fff;
  border: 3px solid #1FCC50;
  border-radius: 3px;
  padding: 15px 30px;
  margin-right: 20px;
  text-decoration: none;
  font-size: 28px;
}
